body {
    background-color: hsl(212, 60%, 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#container {
    background-color: white;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

#qrcode_img {
    width: 275px;
    height: 250px;
    margin: 15px 0;
    border-radius: 20px;
}

#p1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    font-family: Tahoma, sans-serif;
}

#p2 {
    color: grey;
    font-size: 15px;
    margin: 0 20px 25px;
    font-family: Tahoma, sans-serif;
}